<div class="vocabulary-page">
    <mat-card class="mb-32 custom-card">
        <mat-card-header class="title-container">
            <div class="title-name-container">
                <mat-card-title>Your Personal Tasks</mat-card-title>
            </div>
            <div class="title-icon-container">
                <mat-icon>edit</mat-icon>
            </div>
        </mat-card-header>
        <mat-card-content class="custom-content">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th (click)="orderBy('title')">Title</th>
                        <th (click)="orderBy('category')">Category</th>
                        <th (click)="orderBy('description')">Description</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody *ngFor="let info of tasks; let i = index;">
                    <tr>
                        <td>{{i}}</td>
                        <td>{{info.title}}</td>
                        <td>{{info.category}}</td>
                        <td>{{info.description}}</td>
                        <td><mat-icon (click)="delete(info)">delete</mat-icon></td>
                    </tr>

                </tbody>
            </table>
        </mat-card-content>
    </mat-card>